<div class="social-share">
    <!--Share this on &rarr;-->
    {% if page.share_url %}
        {% assign share_url = page.share_url %}
    {% else %}
        {% capture share_url %}{{ site.url }}{{ page.url }}{% endcapture %}
    {% endif %}

    <div class="tweet-button">
        <a class ="twitter-share-button" href="https://twitter.com/intent/tweet?text={{ page.social_media_share }}&url={{ share_url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>

    <div class="fb-like" data-href="{{ share_url }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false">
    </div>

</div>
