---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
      <div id="tags">
        {% assign post = page %}
          {% if post.category %}
          {% assign category = site.my_categories | where: "slug", post.category %}
          {% assign category = category[0] %}
          {% if category.slug  %}
            {% capture category_content %}
            <span class="label"><a href="{{ category.url }}">{{ category.name }}</a></span>
            {% endcapture %}
          {% endif %}
          {% else %}
            {% assign category_content = '' %}
          {% endif %}

          {% if post.tags.size > 0 %}
          {{ site.my_tags }}
            {% capture tags_content %} with <span class="icon-price-tag{% if post.tags.size > 1 %}s{% endif %}"></span>: {% endcapture %}
            {% for post_tag in post.tags %}
                {% assign tag = site.my_tags | where: "slug", post_tag %}
                {% if tag %}
                    {% assign tag = tag[0] %}
                    {% capture tags_content_temp %}
                        {{ tags_content }}
                        <a href="{{ tag.url }}">{{ tag.slug }}</a>
                    {% endcapture %}
                    {% assign tags_content = tags_content_temp %}
                {% endif %}
            {% endfor %}
        {% endif %}

          <p id="post-meta">Posted Category : {{ category_content }} Tag: {{ tags_content }}</p>
      </div>
</header>

  <article class="post-content">
    {{ content }}
  </article>

    <div class="Previous-next">
        {% if page.previous.url %}
        <a class="previous" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
        {% endif %}
        {% if page.next.url %}
        <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
        {% endif %}
    </div>


  <footer class="post-footer">
    {% include share.html %}
    {% include comments.html %}
  </footer>

  <script src="/assets/js/google-analytics.js"> </script>
  <script type="text/javascript" src="/assets/js/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/assets/js/slick.min.js"></script>
  <script type="text/javascript" src="/assets/js/carousel.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
</div>



